// Grid
$grid-columns: (
  xs: 4,
  sm: 4,
  md: 6,
  lg: 12,
  xl: 12,
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 1024px,
  lg: 1200px,
  xl: 1440px,
);

$grid-gutter-widths: (
  xs: 0,
  sm: 2rem,
  md: 2rem,
  lg: 4rem,
  xl: 4rem,
);

// Out-most margins for grids
$grid-outer-gutters: (
  xs: 2rem,
  sm: 2rem,
  md: 3rem,
  lg: 4rem,
  xl: 4rem,
);

$container-max-widths: (
  xs: 576px,
  sm: 1024px,
  md: 1200px,
  lg: 1440px,
  xl: 1920px,
);

// Typography
$root-font-sizes: (
  xs: 16px,
  sm: 16px,
  md: get-vw(16),
  lg: get-vw(16),
  xl: get-vw(16),
);

$font-weight-base: 300;

/*
$font-family-sans-serif: neue-haas-unica, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-family-serif: big-caslon-fb, serif;
$font-family-monospace: ibm-plex-mono, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
*/
