@import 'functions';
@import 'variables';
@import '~bootstrap/scss/bootstrap-reboot';
@import 'mixins';

body {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
